:root {
  --white: #f0f0f0;
  --black: #010101;
  --gray: #656565;
  --light-gray: #a7a7a7;
  --dark-gray-light: #171F26;
  --dark-gray: #11171D;
  --purple: #5e299a;
  --yellow: #dbb856;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

header {
  width: 100%;

  height: 9.375rem;
  background-color: rgba(91, 41, 154, 0.9);

  z-index: 2;
  position: relative;
}

header .container {
  position: relative;
}

header .header-black {
  background-color: var(--black);
  height: 2.5rem;
}

header .header-black li {
  display: inline-block;
  margin: 0.25rem;

  background: url("../assets/clubs.png") no-repeat;
}

header .header-black li a {
  width: 2rem;
  height: 2rem;

  display: block;
}

#logo {
  top: 1.25rem;
  position: absolute;
  z-index: 3;
}

#banner h1.efeito {
  color: var(--purple);
  font-size: 12em;
  transition: 1s;
}

#menu {
  margin: 1rem 0;
}

#menu ul {
  margin: 0;

  display: flex;
  justify-items: center;
  gap: 2rem;
}

#menu li {
  display: inline-block;
}

#menu li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

#menu li.search {
  width: 11.5rem;
  transition-timing-function: cubic-bezier(1, -.91, -.91, 1);
  transition-duration: 1s;
}

#menu li.search.active {
  width: 300px;
}

#menu li.search input {
  height: 1.875rem;
  line-height: 1.875rem;

  background-color: var(--purple);
  color: var(--white);

  border: none;
}

#menu li.search.active input {
  width: 300px;
}

#menu li.search input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

#menu li.search button {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0.1875rem;
  top: -0.25rem;
}

#menu li.search .input-group {
  top: -0.125rem;
}

#banner {
  width: 100%;
  height: 728px;
  top: -6.875rem;

  background: url("../assets/banner.jpg") no-repeat center/cover;
  background-position: 0px -100px;

  color: var(--white);
  position: relative;
}

#banner h1 {
  margin-left: 3.125rem;
  top: 18.75rem;
  font-size: 5.75rem;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  font-weight: 300;

  position: relative;
}

#banner h1 small {
  font-size: 2rem;
  display: block;

  font-weight: 700;
}

#news {
  margin-top: -4rem;
  margin-bottom: 4rem;
  position: relative;
}

#news h2,
#call-to-action h2 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--purple);
  text-transform: uppercase;
}

#news hr,
#call-to-action hr {
  border: 4px solid #dbb856;
  width: 12.5rem;
  margin: 0 auto;
}

#news .thumbnails {
  margin-top: 2rem;
}

#news .thumbnails h3 {
  color: var(--purple);
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
}

#news .thumbnails time {
  color: var(--light-gray);
  font-size: 1.125rem;
}

#news .thumbnails .item-inner {
  padding: 0.625rem;
}

#news .thumbnails .item-inner img {
  width: 100%;
}

#estatisticas {
  background-color: var(--purple);
  width: 100%;
  height: 12.5rem;
}

#estatisticas p {
  margin-top: 1rem;

  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  color: var(--yellow);
  text-transform: uppercase;
}

#estatisticas p small {
  color: var(--white);
  font-size: 24px;
  display: block;
}

#call-to-action {
  text-align: center;
  margin: 6.5rem 0;
}

#call-to-action h2 {
  text-transform: capitalize;
}

#call-to-action hr {
  border: var(--yellow) solid 8px;
}

#call-to-action p {
  margin-top:3.75rem;
  margin-bottom: 2.5rem;
  color: var(--gray);
}

#call-to-action .btn {
  min-width: 164px;
  height: 44px;
  line-height: 32px;

  border-radius: 0;
}

#call-to-action .btn-roxo {
  color: var(--white);
  background-color: var(--purple);
  border-color: var(--purple);

  margin-right: 2rem;
}

#call-to-action .btn-amarelo {
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

footer {
  margin-top: 110px;
}

footer .row-cinza-claro {
  height: 13.5rem;
  background-color: var(--dark-gray-light);
}

footer .row-cinza-escuro {
  height: 3.75rem;
  background-color: var(--dark-gray);
  border-top: 1px solid #242D37;
}

footer .row-cinza-escuro .container {
  padding: 0 4rem;
  margin-bottom: 0;
}

footer .float-start, 
footer .float-end {
  font-size: 0.875rem;
  padding: 1rem 0 0;
}

footer .float-start {
  font-weight: 300;
  color: var(--light-gray);
}

footer .float-end {
  font-weight: 700;
  color: #623291;
}

footer .logotipo {
  margin-top: 1.75rem;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
  margin-top: 2.5rem;
}

footer .row-cols h4 {
  padding-bottom: 1.0625rem;
  border-bottom: #242D37 1px solid;

  font-size: 1rem;
  color: var(--white);
  text-transform: uppercase;
}

footer .row-cols h5,
footer .row-cols time {
  color: var(--light-gray);
  font-family: Arial;
  font-size: 0.875rem;
  margin-bottom: 0;
}

footer .row-cols time {
  color: var(--yellow)
}

footer .col-links a {
  color: var(--white);
  font: 14px Arial;
  text-decoration: none;
}

footer .col-links .bi {
  margin: 0 6px;
}

footer .col-get-in-touch address {
  color: #666;
  font: 14px Arial;
  margin-bottom: 1.25rem;
}

footer .col-get-in-touch a {
  color: #666;
  font: 14px Arial;
  text-decoration: none;
}

footer .col-get-in-touch address span {
  display: inline-block;
}

footer .col-get-in-touch address i {
  position: relative;
  top: -10px;
}

footer .col-get-in-touch i {
  color: #9B9B9B;
  font-size: 1.25rem;
  margin: 0 6px;
}

footer .col-get-in-touch p {
  line-height: 20px;
}

footer .list-socials {
  margin-top: 4px;
  display: flex;
  gap: 1rem;
}

footer .list-socials a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  line-height: 24px;
  border-radius: 50%;
  border: #9B9B9B 1px solid;
}

footer .list-socials i {
  font-size: 1rem;
  margin: 7px auto;
}